body {
    display: flex;
    background-color: #21b241;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: grey;
}

.title {
    margin: 0;
}

.under-text {
    margin: 0;
    font-size: 70%;
}

textarea {
    border: 1px solid #80808075;
}

form {
    background-color: #f9f9f9;
    padding: 10px 25px 25px 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 2px #0000002b;
    justify-content: space-between;
    height: 300px;
}

input {
    padding: 3px;
}

button {
    height: 22px;
    background-color: #21b241;
    color: white;
}