.circle {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.oval {
    border: 1px solid black;
    border-radius: 25%;
    width: 100px;
    height: 100px;
}