:root {
    --background-color: #EAF4F9;
    --button-color: #3598DB;
    --button-text: white;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--button-color);
    color: var(--button-text);
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    align-items: center;
    width: 15%;
}

h2 {
    margin: 0;
    margin-bottom: 10px;
}

p {
    margin: 0;
    margin-bottom: 50px;
}

.forgot {
    transform: translate(250%, -350%);
    color: gray;
    cursor: pointer;
}

.password {
    width: 100%;
}

a {
    text-decoration: none;
}

input {
    width: 100%;
    margin-bottom: 40px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid black;
}